<%- include("layout/main") %>
<br>
    <h5 style="padding: 20px"><i class="fa-solid fa-rocket"></i> Esta es una botlist en progreso...</h5>
 <div class="myc">
    <div class="container">
        <% bots.forEach((bot) => { %>
            <% let t = bot.tags %>
            <% t.splice(2) %>

                <% let v = bot.votes || 0 %>
            <div class="bot-card">
                <div class="bot-banner">
                      <img class="card-img-top" src="https://getwallpapers.com/wallpaper/full/c/e/6/320156.jpg" style="border-top-left-radius: 8px;border-top-right-radius: 8px">
  
                </div>
                <div class="bot-avatar">
                 <img class="bot-avatar" src="<%= bot.clientInfo.displayAvatarURL %>">
                </div>
                 <div class="card-body d-flex flex-column">
                <h5 style="text-align: left;" class="text-truncate">
                <%= bot.clientInfo.username %> <span style="color:white"><i class="fa fa-arrow-circle-up"></i> <%= v %> </span></h5>
                <p style="text-align: left;font-size: 14px"><% t.map((tag) => { %>
 <a href="/tag/<%= tag %>" class="e" style="text-decoration: none">#<%= tag %> </a>
              <%  }) %>
               </p>
                <p class ="te" style="text-align: left;color: #b9bbbe"><%= bot.shortDesc %></p>
                <p></p>
                <a href="/bot/<%= bot.clientInfo.id %>" class="viewbot" tabindex="0"><i class="fa-solid fa-eye"></i> Ver Bot</a>
                <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.clientInfo.id %>&permissions=51530719690689&scope=bot%20applications.commands" class="invitebot"><i class="fa-solid fa-link"></i> Invitar</a>
                 </div>
              </div>

        <% }) %>
    </div>
</div>