<%- include("layout/main") %>
    <br>

    <div class="container text-center">

        <div class="row">
            <div class="col">
                <img src="<%= profileAvatar %>" class="profileAvatar">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col" id="a">
                <h4>
                    <%= usuario.username %>#<%= usuario.discriminator %>
                </h4>
            </div>
        </div>
  
        <br>
      <% if(bots.length > 0){ %>
        <h4 style="text-align: left;"><%= usuario.username %>'s bots:</h4>
        <%} else {%>
        <h4> Este usuario no tiene bots </h4>
        <% }%>
        <div class="myc">
            <div class="container">
                <% bots.forEach((bot) => { %>
                    <% let t = bot.tags %>
                    <% t.splice(2) %>
                    <div class="bot-card">
                        <div class="bot-banner">
                              <img class="card-img-top" src="https://getwallpapers.com/wallpaper/full/c/e/6/320156.jpg" style="border-top-left-radius: 8px;border-top-right-radius: 8px">
          
                        </div>
                        <div class="bot-avatar">
                         <img class="bot-avatar" src="<%= bot.clientInfo.displayAvatarURL %>">
                        </div>
                         <div class="card-body d-flex flex-column">
                            <h5 style="text-align: left;" class="text-truncate">
                                <%= bot.clientInfo.username %></h5>
                                <p style="text-align: left;font-size: 14px"><% t.map((tag) => { %>
                                    <a href="/tag/<%= tag %>" class="e" style="text-decoration: none">#<%= tag %> </a>
                                                 <%  }) %>
                                                  </p>
                        <p class="te2" style="text-align: left;"><%= bot.shortDesc %></p>
                                                <p></p>
                        <% if(user) { %> 
                           <% if(user.id === usuario.id){ %>
                            <a href="/bot/<%= bot.clientInfo.id %>/resend" class="resend"><i class="fa-solid fa-paper-plane"></i> Reenviar</a>
                            <a href="/bot/<%= bot.clientInfo.id %>" class="viewbot" tabindex="0"><i class="fa-solid fa-eye"></i> Ver Bot</a>
                            <a href="/bot/<%= bot.clientInfo.id %>/edit" class="invitebot"><i class="fa-solid fa-pencil"></i> Editar Bot</a>
                             
                         <%  } else {  %>
                            <a href="/bot/<%= bot.clientInfo.id %>" class="viewbot">Ver Bot</a>
                            <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.clientInfo.id %>&permissions=51530719690689&scope=bot%20applications.commands" class="invitebot"><i class="fa-solid fa-link"></i> Invitar</a>

                         <% } %>
                        <% } else { %>
                            <a href="/bot/<%= bot.clientInfo.id %>" class="viewbot">Ver Bot</a>
                            <a href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.clientInfo.id %>&permissions=51530719690689&scope=bot%20applications.commands" class="invitebot"><i class="fa-solid fa-link"></i> Invitar</a>

                        <% } %>
                         </div>
                      </div>
                <% }) %>
            </div>
        </div>
        

    </div>
